body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 600px;
}

.header {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: rgb(238, 83, 83);
  color: rgb(245, 244, 244);
  font-weight: bold;
  height: 130px;
  text-align: center;
  justify-content: center;
}

.header-bar {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 450px 100px;
}

#input {
  border-style: none;
  border-radius: 2px;
  height: 25px;
  padding-left:10px;
}

#input::placeholder {
  color: rgb(164, 162, 162);
}

#input:focus {
  outline: none;
}

#add {
  border-style: none;
  border-radius: 2px;
  margin-left: -2px;
  cursor: pointer;
  transition: background-color 0.2s;
  color:rgb(100, 100, 100);
  background-color: rgb(223, 223, 223);
}

#add:hover {
  background-color: rgb(190, 190, 190);
}

#add:active {
  background-color: rgb(223, 223, 223);
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(238, 238, 238);
  font-size: 16px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: rgb(249, 249, 249);
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: rgb(136, 136, 136);
  color: white;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  padding: 12px 16px 12px 16px;
  transition: background-color 0.2s;
  border-style: none;
  top: 0;
  right: 0;
}

.close:hover {
  background-color: rgb(238, 83, 83);
  color: white;
}